<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>

  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger my-2" %>
</div>
